


/* Default styles (applied before any theme is selected) */
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Light theme styles */
body.light {
  background-color: #ffffff;
  color: #213547;
}

/* Dark theme styles */
body.dark {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
